<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Verarbeitung 2. Schritt Neu">
    <meta name="author" content="Chris Saß">
    <title>Hard Jerky Application</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Hard Jerky Company</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Einkauf">
                            <span data-feather="file"></span>
                            Einkauf
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/V1">
                            <span data-feather="shopping-cart"></span>
                            Verarbeitung 1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/V2">
                            <span data-feather="users"></span>
                            Verarbeitung 2
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Lager">
                            <span data-feather="bar-chart-2"></span>
                            Lager
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Verkauf">
                            <span data-feather="bar-chart-2"></span>
                            Verkauf
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2>Ein neuer Eintrag</h2>
            <form action="#" th:action="@{/V2/Save}" th:object="${v2}" method="post">
                <div class="form-group">
                    <label for="marinade">Marinade</label>
                    <input type="text" class="form-control" id="marinade" placeholder="Welche Marinade?"
                           th:field="*{marinade}">
                </div>
                <div class="form-group">
                    <label for="trocken">Trocken</label>
                    <input type="number" step="0.001" class="form-control" id="trocken" placeholder="0.000 kg"
                           th:field="*{trocken}">
                </div>
                <div class="form-group">
                    <label for="packs">Pakete</label>
                    <input type="number" step="1" class="form-control" id="packs" placeholder="Anzahl"
                           th:field="*{packs}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.slim.min.js"><\/script>')</script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/js/dashboard.js"></script></body>
</html>
