<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmente/HeadFragment :: header"></head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Hard Jerky Company</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="Fragmente/Sidebar :: sidebar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2>Ein neuer Verkauf</h2>
            <form action="#" method="post" th:action="@{/Verkauf/Save}" th:object="${verkauf}">
                <div class="form-group">
                    <label for="datum">Kaufdatum</label>
                    <input type="date" class="form-control" id="datum" placeholder="01.01.2020" th:field="*{kaufDatum}">
                </div>
                <div class="form-group">
                    <label for="kunde">Kunde</label>
                    <input type="text" class="form-control" id="kunde" placeholder="Kunde"
                           th:field="*{kunde}">
                </div>
                <div class="form-group">
                    <label for="packs">Pakete</label>
                    <input type="number" step="1" class="form-control" id="packs" placeholder="Anzahl"
                           th:field="*{packs}">
                </div>
                <div class="dropdown">
                    <label for="marinadeListe">
                        <select id="marinadeListe" th:field="*{marinade}">
                            <option th:each="marinade : ${marinadeListe}" th:text="${marinade}"
                                    th:value="${marinade}"></option>
                        </select>
                    </label>
                </div>
                <div class="form-group">
                    <label for="einnahmen">Preis</label>
                    <input type="number" step="0.01" class="form-control" id="einnahmen" placeholder="€"
                           th:field="*{einnahmen}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
    </div>
</div>
<div th:replace="Fragmente/ScriptFragment :: scripts"></div>
</body>
</html>
