<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmente/HeadFragment :: header"></head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Hard Jerky Company</a>
    <button aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler position-absolute d-md-none collapsed" data-target="#sidebarMenu"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="Fragmente/Sidebar :: sidebar"></nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <h2>Eine neue Zutat</h2>
            <form action="#" method="post" th:action="@{/Zutaten/Save}" th:object="${zutaten}">
                <div class="form-group">
                    <label for="zutat">Zutat</label>
                    <input class="form-control" id="zutat" placeholder="Name" th:field="*{zutatName}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="menge">Menge</label>
                    <input class="form-control" id="menge" placeholder="Menge" step="1" th:field="*{menge}"
                           type="number">
                </div>
                <div class="form-group">
                    <label for="preis">Preis</label>
                    <input class="form-control" id="preis" placeholder="Preis" step="0.01" th:field="*{preis}"
                           type="number">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </main>
    </div>
</div>
<div th:replace="Fragmente/ScriptFragment :: scripts"></div>
</body>
</html>
