<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragmente/HeadFragment :: header"></head>

<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Hard Jerky Company</a>
    <button aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler position-absolute d-md-none collapsed" data-target="#sidebarMenu"
            data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="Fragmente/Sidebar :: sidebar"></nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
            <h2>Einkauf bearbeiten</h2>
            <form action="#" method="post" th:action="@{/templates/Vertriebskette/Einkauf/Save}" th:object="${einkauf}">
                <div class="form-group">
                    <label for="datum">Kaufdatum</label>
                    <input class="form-control" id="datum" th:field="*{kaufDatum}" type="date">
                </div>
                <div class="form-group">
                    <label for="menge">Menge</label>
                    <input class="form-control" id="menge" step="0.001" th:field="*{menge}" type="number">
                </div>
                <div class="form-group">
                    <label for="preisRate">Preis pro Kg</label>
                    <input class="form-control" id="preisRate" step="0.01" th:field="*{preisKg}" type="number">
                </div>
                <div class="form-group">
                    <label for="preis">Preis</label>
                    <input class="form-control" id="preis" step="0.01" th:field="*{preis}" type="number">
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </main>
    </div>
</div>
<script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery.slim.min.js"><\/script>')</script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="/static/js/dashboard.js"></script>
</body>
</html>
